# this file is .gitignore
# Ignore all `.log` files
#   *.log

# Ignore the `node_modules` folder
#   node_modules/

# Ignore specific files
MyStuff/Data/covid.xlsx
MyStuff/Data/2020-04-04-feature-list.html
MyStuff/Data/2020-04-06-feature-list.html
MyStuff/Data/2020-04-06T-19-28-feature-list.html
MyStuff/Data/Book1.xlsx
MyStuff/Data/feature-list.html
MyStuff/Data/SALES.CSV
MyStuff/Data/sales.html
MyStuff/Data/SALES.xlsx
MyStuff/Data/SALESinColumns.txt
MyStuff/Data/SALESwithSemi.txt
MyStuff/Data/sum.xlsx
MyStuff/Data/sussex.html
MyStuff/Data/sussex1.html
MyStuff/Data/data/SussexFriends
MyStuff/Data/data/SussexFriends.xlsx
MyStuff/GPUCache/data_1
MyStuff/GPUCache/index
MyStuff/JNoteBooks/Notebook-0.ipynb
MyStuff/JNoteBooks/readme.txt
mystuff/aclfile
desktop.ini
MyStuff/PowershellThings.2025-10-12.log
